
.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 4 colunas */
    margin-right: 10px;
    

}

.buttons-column-buscar {
    grid-column: 1 / span 1; /* Inicia na coluna 2 e ocupa 1 coluna */
    padding: '5px, 5px';
 } 

