
.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 4 colunas */
    margin-right: 10px;
    width: 50%; /* Ou a largura desejada */
    height: 50%; /* Ou a altura desejada */
    /* margin-left: 10px; */


}
.buttons-column-caracter {
    grid-column: 2 / span 1; /* Inicia na coluna 2 e ocupa 1 coluna */
    padding: '5px, 5px';
    margin: auto;

} 

/* .buttons-column-caracter h1 {
    background-color: rgb(237, 134, 96);
    padding: 10px 12px;
    color: #ffffff;
    border: 2px solid #60335d;
    border-radius: 5px;
    display: block;
    margin-top: 0;
    text-align: center;
} */