
.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 4 colunas */
    margin-right: 10px;
    width: 50%; /* Ou a largura desejada */
    height: 50%; /* Ou a altura desejada */


}
.buttons-column-Nome {
    grid-column:2 / span 1; /* Inicia na coluna 2 e ocupa 1 coluna */
    padding: '5px, 5px';

} 

